phidata
python-dotenv
packaging
duckduckgo-search
uvicorn
groq
openai
streamlit
sqlalchemy
pgvector
psycopg
mistralai
google-cloud-aiplatform
googlesearch-python
pycountry
psycopg[binary]
fastapi
streamlit_chat 
